body {
    background-image: linear-gradient(to left,#e6f5ff, #6666ff 30% 70%, #e6f5ff );
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
/******************* NAVBAR ******************************/
.navbar, .navbar-expand {
    background: linear-gradient(135deg,rgb(0, 0, 51, 0.9) 50%,rgb(26, 198, 255, 0.5));
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5), 0 0 5px rgb(255, 255, 255, 0.4), 0 0 10px rgb(255, 255, 255, 0.3);
}
/*************** CENTRAL LOGO **************************/
#anagrafiche {
    display: flex;
    width: 80%;
    position: relative;
    margin-top: -19.5%;
    z-index: 10;
    margin-bottom: 2%;
}

#anagrafiche img {
    margin: auto;
}

#anagrafiche img:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
}

/************** CAROUSEL *************************/
#container-carousel {
    padding: 0;
    position: relative;
    z-index: -1;
    max-height: 30%;
    margin: 0 auto;
}

/************** MAIN NAVIGATION  *************/
.imgsvg {
    width: 33%;
    margin-top: -10%;
}

#button-group {
    position: relative;
    margin-top: -18%;
}

#spacer {
    margin-bottom: 50%;
    position: relative;
}

#formazione {
    width: 33%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}   

#formazione:hover {
    transform: scale(1.2) translateY(8%);
    opacity: 0.7;
    transition: transform 0.4s;
}

#skills {
    width: 33%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}

#skills:hover {
    transform: scale(1.2) translateY(8%);
    opacity: 0.7;
    transition: transform 0.4s;
}

#esperienze {
    width: 55%;
    position: absolute;
    right: 22%;
    margin-top: 20%;
    z-index: 10;
}

#esperienze:hover {
    transform: scale(1.2) translateY(8%);
    opacity: 0.7;
    transition: transform 0.4s;
}

#presentazione {
    padding: 10px;
    background-color: white;
    color: rgb(0, 0, 51);
    box-shadow: 0 0 2px rgb(0, 0, 51, 0.5), 0 0 5px rgb(0, 0, 51, 0.5), 0 0 10px rgb(0, 0, 51, 0.5);
    width: 95%;
    line-height: 2;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 5vh;
}

/******************** ESPERIENZE-SKILLS-FORMAZIONE  *******************/

.tabella {
    border-bottom: 2px solid rgb(0, 0, 51, 0.5);
    font-weight: bold;
    color: rgb(0, 0, 51);
    margin-bottom: 3%;
}
.skilltab {
    border: 2px solid rgb(0, 0, 51, 0.5);
    border-radius: 5%;
    padding: 7px 0;
    font-weight: bold;
    color: rgb(0, 0, 51);
    font-size: 1.2rem;
    margin: 2% auto;
    box-shadow:0 0 2px rgb(0, 0, 51, 0.5), 0 0 5px rgb(0, 0, 51, 0.5), 0 0 10px rgb(0, 0, 51, 0.5);
}

.skilltab:hover {
    transform: scale(1.2);
    transition: transform 0.4s;
}

#esperienze-target, #skills-target, #formazione-target {
    display: none;
}

#formazione-target {
    padding-left: 10%;
}

#timeline {
    position: absolute;
    border-left: 5px solid white;
    height: 100%;
    right: 50%;
    z-index: -10;
}
#esperienze-target {
    position: relative;
}

.exp {
    margin: 0 3% 4% 3%;
    background: linear-gradient(90deg,rgb(255, 255, 255, 0.0),rgb(255, 255, 255, 1)15% 85%,rgb(255, 255, 255, 0.0));
    padding: 2% 1%;
}

.exp:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
}

/***************** FOOTER ***************************/

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background: linear-gradient(135deg,rgb(0, 0, 51, 0.9) 50%,rgb(26, 198, 255, 0.5));
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5), 0 0 5px rgb(255, 255, 255, 0.4), 0 0 10px rgb(255, 255, 255, 0.3);
    height: 80px;
    color: white;
}


@media only screen and (min-width: 425px) {
    #footer-flex {
        display: flex;
    }
    
    #footer div {
        margin: 1% 2% ;
    }
  }



#footer img {
    margin-right: 15px;
}