body {
    background-image: linear-gradient(to left,#e6f5ff, #6666ff 30% 70%, #e6f5ff );
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
    position: relative;
    height: 100vh;
}

.navbar, .navbar-expand {
    background: linear-gradient(135deg,rgb(0, 0, 51, 0.9) 50%,rgb(26, 198, 255, 0.5));
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5), 0 0 5px rgb(255, 255, 255, 0.4), 0 0 10px rgb(255, 255, 255, 0.3);
}


#footer {
    background: linear-gradient(135deg,rgb(0, 0, 51, 0.9) 50%,rgb(26, 198, 255, 0.5));
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5), 0 0 5px rgb(255, 255, 255, 0.4), 0 0 10px rgb(255, 255, 255, 0.3);
    height: 80px;
    color: white;
    position: absolute;
    bottom: -70px;
}

#contatti p {
    color: white;
    font-size: 1.5rem;
    margin: 8% 2%;
    text-shadow: 0 0 2px rgb(0, 0, 51, 0.9);
    border-bottom: solid rgb(0, 0, 51, 0.8) 2px;
}

#contatti img {
    margin-right: 6px;
    margin-left: 3px;
    width: 6%;
}

#contatti a {
    color: white;
    font-size: 1.5rem;
    margin: 8% 2%;
    text-shadow: 0 0 2px rgb(0, 0, 51, 0.9);
    text-decoration: none;
    border-bottom: solid rgb(0, 0, 51, 0.8) 2px;
    display: block;
}
