html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(to left,#e6f5ff, #6666ff 30% 70%, #e6f5ff );
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
.btn-primary {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
}
/******************* NAVBAR ******************************/
.navbar, .navbar-expand {
    background: linear-gradient(135deg,rgb(0, 0, 51, 0.9) 50%,rgb(26, 198, 255, 0.5));
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5), 0 0 5px rgb(255, 255, 255, 0.4), 0 0 10px rgb(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    width: 100%;
}
/*************** CENTRAL LOGO **************************/
#anagrafiche {
    display: flex;
    width: 80%;
    position: relative;
    margin-top: -19.5%;
    z-index: 10;
    margin-bottom: 2%;
}

#anagrafiche img {
    margin: auto;
}

#anagrafiche img:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
}

/************** CAROUSEL *************************/
#container-carousel {
    padding: 0;
    position: relative;
    z-index: -1;
    max-height: 30%;
    margin: 4rem auto 0 auto;
}

/************** MAIN NAVIGATION  *************/
.imgsvg {
    width: 33%;
    margin-top: -10%;
}

#button-group {
    position: relative;
    margin-top: -18%;
}

#spacer {
    margin-bottom: 50%;
    position: relative;
}

#formazione {
    width: 33%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}   

#formazione:hover {
    transform: scale(1.2) translateY(8%);
    opacity: 0.7;
    transition: transform 0.4s;
}

#skills {
    width: 33%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}

#skills:hover {
    transform: scale(1.2) translateY(8%);
    opacity: 0.7;
    transition: transform 0.4s;
}

#esperienze {
    width: 55%;
    position: absolute;
    right: 22%;
    margin-top: 20%;
    z-index: 10;
}

#esperienze:hover {
    transform: scale(1.2) translateY(8%);
    opacity: 0.7;
    transition: transform 0.4s;
}

#presentazione {
    padding: 10px;
    background-color: white;
    color: rgb(0, 0, 51);
    box-shadow: 0 0 2px rgb(0, 0, 51, 0.5), 0 0 5px rgb(0, 0, 51, 0.5), 0 0 10px rgb(0, 0, 51, 0.5);
    width: 95%;
    line-height: 2;
    font-size: 2rem;
    position: relative;
    padding-bottom: 5vh;
    border-radius: 2rem;
}

/******************** ESPERIENZE-SKILLS-FORMAZIONE  *******************/
.formazione-row{
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 4rem;
    box-shadow:0 0 2px rgb(0, 0, 51, 0.5), 0 0 5px rgb(0, 0, 51, 0.5), 0 0 10px rgb(0, 0, 51, 0.5);
}
.btn-col{
    padding: 2rem 0 2rem 3rem;
    display: flex;
    align-items: center;
}
.tabella {
    color: rgb(0, 0, 51);
    font-size: 1.8rem;
    padding: 2rem 0 2rem 3rem;
}
.skilltab {
    display: flex;
    border: 2px solid rgb(0, 0, 51, 0.5);
    border-radius: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 51);
    font-size: 2rem;
    margin: 2% auto;
    box-shadow:0 0 2px rgb(0, 0, 51, 0.5), 0 0 5px rgb(0, 0, 51, 0.5), 0 0 10px rgb(0, 0, 51, 0.5);
}

.skilltab:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
}

.skill-bar{
    padding: .3rem 1rem;
    background: linear-gradient(90deg,rgb(255,255,255,0.6) 25%,rgb(26, 198, 255, 0.5));;
    border-radius: .9rem;
    border: 2px solid rgb(0, 0, 51, 0.5);
    width: 50%;
}
.w6{
    width: 60% !important;
}
.w7{
    width: 70% !important;
}
.w8{
    width: 80% !important;
}
.w9{
    width: 90% !important;
}
.w10{
    width: 100% !important;
}

#esperienze-target, #skills-target, #formazione-target {
    display: none;
}
#timeline {
    position: absolute;
    border-left: 8px solid white;
    height: 100%;
    right: 50%;
    z-index: -10;
    box-shadow:0 0 2px rgb(0, 0, 51, 0.5), 0 0 5px rgb(0, 0, 51, 0.5), 0 0 10px rgb(0, 0, 51, 0.5);    
}
#esperienze-target {
    position: relative;
}

.exp {
    margin: 0 3% 4% 3%;
    background: linear-gradient(90deg,rgb(255, 255, 255, 0.0),rgb(255, 255, 255, 1)15% 85%,rgb(255, 255, 255, 0.0));
    padding: 2% 1%;
    font-size: 2rem;
}

.exp:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
}

/***************** FOOTER ***************************/

#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    background: linear-gradient(135deg,rgb(0, 0, 51, 0.9) 50%,rgb(26, 198, 255, 0.5));
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5), 0 0 5px rgb(255, 255, 255, 0.4), 0 0 10px rgb(255, 255, 255, 0.3);
    height: 8rem;
    color: white;
    font-size: 1.5rem;
}

.f-infos img{
    margin-right: 5px;
}

/************m MEDIA ****************/
@media only screen and (max-width: 426px){
    .tabella {
        font-size: 0.9rem;
        padding: 1rem 0 1rem 2rem;
    }
    .btn-col{
        padding: 0%;
        margin: 1px -1px;
    }
    .btn-primary{
        padding: 3px;
        font-size: 1rem;
    }
    #presentazione {
        font-size: 1rem;
    }
    .skilltab{
        font-size: 1rem;
    }
    .exp{
        font-size: 1rem;
    }
    #footer{
        flex-direction: column;
        font-size: 1rem;
    }
    .f-infos:first-child{
        padding-top: 10px;
    }
    .f-infos:last-child{
        padding-bottom: 10px;
    }
}